fastapi
uvicorn[standard]
sqlalchemy>=2.0
psycopg2-binary
pydantic[email]>=2.0
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pandas
scikit-learn
joblib
openpyxl
pyarrow
numpy
python-dotenv
